@import '/src/theme/typography.css';

body {
    font-family:'BasisGrotesque';
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #2a2a2a;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

h1, h2 ,h3 ,h4 ,h5, h6, p {
    font-weight: 400;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 48px;
}

h2{
    font-size: 36px;
}

h3 {
    font-size: 28px;
}