@font-face {
    font-family: 'BasisGrotesque';
    src: url('../assets/fonts/BasisGrotesqueRegular.woff') format('woff'),
    url('../assets/fonts/BasisGrotesqueRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BasisGrotesque';
    src: url('../assets/fonts/BasisGrotesqueMedium.woff') format('woff'),
    url('../assets/fonts/BasisGrotesqueMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BasisGrotesque';
    src: url('../assets/fonts/BasisGrotesqueBold.woff') format('woff'),
    url('../assets/fonts/BasisGrotesqueBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('../assets/fonts/spacemono-regular-webfont.woff') format('woff'),
    url('../assets/fonts/spacemono-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}